*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.fundo-cadastro-global{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fundo-cadastro{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.fundo-cadastro .img img{
    padding: 5px;
    height: 150px;
    margin: 20px;

}
.fundo-cadastro form{
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.fundo-cadastro form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fundo-cadastro .form{
    width: 100%;
    text-align: center;

}
.fundo-cadastro .btn-cad-novo-user{
    text-align: center;
    width: 50%;

}
.fundo-cadastro input{
    border: none;
    border-bottom: 2px solid rgb(177, 177, 177);
    padding: 10px 5px;
    margin: 10px 0px;
    width: 90%;

}
.fundo-cadastro input:focus{   
    border-bottom: 2px solid rgb(98, 98, 98);
    outline: none;

}
.fundo-cadastro .input-radio{
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.fundo-cadastro .input-radio div{
    display: flex;
    flex-direction: row;
    padding: 20px 0px;

}
.fundo-cadastro .input-radio input{
    width: 20px;

}
.fundo-cadastro .input-radio label{
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.fundo-cadastro button{
    margin: 10px 0px;
    width: 90%;
    border: none;
    background-color: #80cc80;
    box-shadow: 1px 1px 2px rgb(83, 83, 83);
    padding: 20px 0px;
    font-size: 1.1rem;
    font-weight: 700;

}
.fundo-cadastro button:hover{
    background-color: #80cc80d4; 

}
/*Formatação para o footer*/
.fundo-cadastro-global .footer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
.fundo-cadastro-global .footer img{
    width: 80px;
    height: 80px;
    margin: 5px;

}
/*Formatação para o menu global*/
.menu{
    width: 100%;
    background-color: #a5d6a7;
    box-shadow: 0px 5px 5px rgb(133, 133, 133);

}
.navbar-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}
.menu .navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.menu .nav-item{
    padding: 0px 5px;
    margin: 1px 5px;

}
.menu .navbar-nav a{
    color: black;
    font-weight: 500;

}