.fundo-cadastro{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fundo-cadastro img{
    width: 20rem;
    height: 10rem;

}
.fundo-cadastro .img{
    margin: 10px;

}
.fundo-cadastro form{
    padding: 5px;
    margin: 20px 0px;
    
}
.fundo-cadastro form div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.fundo-cadastro .form{
    width: 60%;

}
.fundo-cadastro input{
    border: none;
    border-bottom: 2px solid rgb(177, 177, 177);
    padding: 10px 0px;
    margin: 10px 0px;
    width: 90%;

}
.fundo-cadastro button{
    margin: 10px 0px;
    width: 90%;
    border: none;
    background-color: #a5d6a7;
    box-shadow: 1px 1px 2px rgb(83, 83, 83);
    padding: 20px 0px;
    font-size: 1.1rem;
    font-weight: 700;

}
/*Formatação para o menu global*/
.menu{
    width: 100%;
    background-color: #a5d6a7;
    box-shadow: 0px 5px 5px rgb(133, 133, 133);

}
.navbar-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}
.menu .navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.menu .nav-item{
    padding: 0px 5px;
    margin: 1px 5px;

}
.menu .navbar-nav a{
    color: black;
    font-weight: 500;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
