/*Formatação global*/
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    margin: 0;
    background-color: rgb(236, 236, 236);
    
}
.fundo1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    
}

/*Formatação para o menu global*/
.menu{
    background-color: #a5d6a7;
    box-shadow: 0px 2px 2px rgb(180, 180, 180);
    border-bottom: 1px solid rgb(138, 138, 138);
    width: 100%;

}
.menu .navbar-collapse div{
    width: 100%;
    
}
.menu .navbar-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px;

}
.menu .nav-item{
    padding: 5px;
    margin: 0px 5px;

}
.menu .nav-item .nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.menu .nav-item::marker{
    font-size: 0rem; 

}
.menu .navbar-nav a{
    color: black;
    font-weight: 500;

}
.menu .icons-menu{
    width: 3rem;
    border-radius: 10px;
    padding: 5px;

}
.menu .text-menu{
    text-align:left;
    font-size: 10px;
    
}
.menu .listra-menu{
    text-align: middle;
    font-size: 10px;
    border-bottom: 2px solid red;
}

.menu .icons-menu:hover{
    background-color: #80cc80c4;

}

/*Formatção sub menu*/
.sub-menu-necess{
    background-color: #a5d6a7;
    box-shadow: 0px 5px 5px rgb(180, 180, 180);
    border-top: 1px solid rgb(78, 78, 78);

}
.sub-menu-necess .navbar-collapse div{
    width: 100%;

}
.sub-menu-necess .navbar-nav{
    width: 100%;
    justify-content: space-evenly;
    
}
.sub-menu-necess .icons-menu{
    width: 3.1rem;
    padding: 5px;
    border-radius: 10px;

}
.sub-menu-necess .icons-menu:hover{
    background-color: #80cc80d4;

}
.sub-menu-necess .nav-item .nav-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Formatação padão para os botões globais*/
.fundo-botao{
    padding: 1.5rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    
}
.botao-padrao{
    text-decoration: none;
    margin: 10px 2px;
    width: 90%;
    text-align: center;
    
}
.botao-padrao button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem .2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background-color: #80cc80;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(150, 150, 150);
    width: 100%;
    cursor: pointer;
    
}
.botao-padrao button:hover{
    background-color: #80cc80d4; 


}
.icon-expand{
    padding: .2rem .5rem;

}
.flag-risco img{
    width: 3%;
    margin: 2px 5px;

}

.active{
    background-color: #43a443;
}

/*Formatação para os textos escondidos*/
.text-none-style, .text-none-tec-proped{
    background-color: white;
    padding: 1.5rem 1rem;
    margin: 5px 0px;
    width: 85%;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 1px 1px 10px rgb(72, 72, 72);

}
.text-none-style p,
.text-none-tec-proped p{
    padding: 2px 0px;

}
.text-none-style h4{
    padding: 10px 0px;
    font-weight: 600;
    font-size: 1.1rem;

}
.text-none-style .ajuste-text p,
.text-none-style .ajuste-text h5{
    text-align: left;

}
.text-none-style .ajuste-text
.ajuste-text-destaque{
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px rgb(102, 102, 102);

}
/*Formatação para inputs globais*/
.form-style{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-style input{
    width: 60%;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
    background-color: rgba(219, 219, 219, 0.5);

}
.form-style input::placeholder{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    
}
.form-style button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 50%;
    border: 1px solid rgb(150, 150, 150);
    background-color: #80cc80;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);

}
.form-style button:hover{
    background-color: #80cc80d4;

}

/*Formatação de botões internos*/
.text-none-style .flex-ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.text-none-style-interno{
    padding: 5px 5px;
    margin: 5px 5px;
    width: 85%;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1rem;
    box-shadow: 1px 1px 10px rgb(72, 72, 72);
    
}
.text-none-style-interno div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.botao-padrao-interno{
    margin: 7px 0px;
    width: 90%;

}
.botao-padrao-interno button{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #80cc80;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(150, 150, 150);

}
.form-style-interno{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-style-interno div{
    display: block;

}
.form-style-interno input{
    width: 60%;
    height: 50px;
    border: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
    background-color: rgba(219, 219, 219, 0.5);

}
.form-style-interno input::placeholder{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    
}
.form-style-interno button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 50%;
    border: 1px solid rgb(150, 150, 150);
    background-color: #80cc80;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);

}
.form-style-interno button:hover{
    background-color: #80cc80d4;

}

/*Formatação especifica para inputs checkbox*/
.form-style-checkbox{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;

}
.form-style-checkbox h5{
    font-weight: 600;
    padding: 20px 0px 5px 0px;
    font-size: 1rem;

}
.form-style-checkbox h6{
    font-weight: 600;
    font-size: 1rem;

}
.form-style-checkbox .form-style{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 0px;

}
.form-style-checkbox .style-checkbox{
    display: flex;
    align-items: center;
    margin: 7px 0px;

}
.style-checkbox input{
    width: 20px;
    height: 20px;
    margin: 5px;
    box-shadow: none;
    
}
.style-checkbox label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: .8rem;
    text-align: left;

}

/*Formatação das paginas só com texto*/
.text-style-pure{
    padding: 5rem 3rem;
    height: 100%;

}
.text-style-pure p{
    text-align: justify;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;

}
.text-style-pure2{
    padding: 1rem 1rem 2.5rem 1rem;

}
.text-style-pure2 p{
    text-align: justify;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    padding: 0;

}
.text-style-pure2 .sub-title{
    font-weight: 600;
    text-align: justify;

}

/*Formatação estratificação etapa 2*/
.etapa-2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0px;
    padding: 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}
.etapa-2 h5{
    font-weight: 600;
    font-size: 1rem;

}
.etapa-2 .etapa-2-form{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}
.etapa-2 .etapa-2-form form{
    display: flex;
    flex-direction: column;

}
.etapa-2 .etapa-2-form form div{
    width: 100%;
    display: flex;
    align-items: flex-start;
}
.etapa-2 .etapa-2-form input{
    width: 100%;

}
.etapa-2 .etapa-2-form input::placeholder{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    
}
.etapa-2 .etapa-2-form .style-checkbox{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;

}
.etapa-2 .etapa-2-form button{
    width: 100%;

}
.etapa-2 .etapa-2-img{
    width: 60%;

}

/*Formatação estratificação etapa 3*/
.etapa-3{
    width: 100%;
    margin: 50px 0px;
    
}
.etapa-3 h5{
    font-weight: 600;
    font-size: 1rem;

}

/*Formatação pagina hemograma*/
.form-style-hemograma{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    
    
}
.form-style-hemograma h5{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0px 5px 20px 5px;

}
.form-style-hemograma p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    color: black;
    font-weight: bold;

}
.form-style-hemograma div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 5px;

}
.form-style-hemograma label{
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.form-style-hemograma input{
    width: 100%;

}
.form-style-hemograma button{
    width: 80%;

}
/*Formatação botão finalizar*/
.fundo-botao .botao-padrao #btn-finaliza-consulta,
.fundo-botao .botao-padrao #btn-finaliza-ava-clinic{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.3rem 1rem;
    margin: 10px 0;
    font-size: 1rem;

}
.fundo-botao .botao-padrao #btn-finaliza-consulta:hover,
.fundo-botao .botao-padrao #btn-finaliza-ava-clinic:hover{
    background-color: #558a55;

}

/*Formatação navegação rodapé*/
.navegacao-footer{
    display: flex;
    justify-content: space-around;

}
.navegacao-footer .botao-padrao{
    width: 35%;
    margin: 5px 0 10px 0;
    
}
.navegacao-footer .botao-padrao button{
    background-color: transparent;
    box-shadow: 2px 2px 2px rgb(160, 160, 160);
    border: 2px solid rgb(122, 122, 122);
    padding: 1rem 0;
    font-size: 1.3rem;

}
.navegacao-footer .botao-padrao button:hover{
    background-color: #80cc80d4;
    box-shadow: 4px 4px 4px rgb(160, 160, 160);

}
/*Formatação pagina relatorio*/
.fundo-botao-print{
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items:flex-start;
    justify-content: center;
    
}
.fundo-botao-print div{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fundo-botao-print .col-consultas{
    border-right: 2px solid rgb(160, 160, 160);

}
.fundo-botao-print .col-consultas{
    border-left: 2px solid rgb(160, 160, 160);

}
.fundo-botao-print .col-consultas div{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;

}
.fundo-botao-print .col-consultas form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

}
.fundo-botao-print .col-consultas form input{
    border: none;
    width: 100%;
    height: 4rem;
    padding: 5px;
    border: 1px solid rgb(195, 195, 195);
    border-radius: 5px;

}
.fundo-botao-print .col-consultas form input::placeholder{
    color: rgb(118, 118, 118);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.fundo-botao-print .col-relatorios div{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;

}
.fundo-botao-print button{
    width: 100%;
    font-size: 1.1rem;
    padding: 1.3rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.fundo-botao-print .form-select{
    height: 4rem;

}
.fundo-botao-print .form-select option{
    color: black;
    background-color: rgb(230, 230, 230);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .9rem;
    font-weight: 500;

}
.fundo-botao-print .retorno-select-1 table{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: .8rem;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(113, 113, 113);
    
}
.retorno-select-1 th{
    background-color: rgb(220, 220, 220);
    color: black;
    padding: 10px 0;
    font-weight: 600;
    border: none;
    text-align: center;
    
}
.retorno-select-1 td{
    background-color: rgb(229, 229, 229);
    color: black;
    padding: 10px 0;
    font-weight: 500;
    border: none;
    text-align: center;
    
}

/*Formatação pagina direitos*/
.pageDireitos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    }
    
    .pageDireitos h1 {
    font-weight: bold;
    text-align: right;
    width: 30%;
    }
    
    .pageDireitos h4 {
    font-weight: bold;
    text-align: left;
    width: 60%;
    }
    
    .pageDireitos h5 {
    text-align: justify;
    width: 60%;
    }

/*fomatação botao pagina relatorios*/
.botao-relatorio{
    padding-top: 20px;
    
}