*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    width: 100vw;

}
.fundo1{
    background-color: thistle;
    height: 100%;

}

/*Style padão para o menu com botões*/
.fundo-botao{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.botao-padrao{
    text-decoration: none;
    margin: 5px 2px;
    width: 85%;
    text-align: center;
    
}
.botao-padrao button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1.2rem .5rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    width: 100%;
    cursor: pointer;
    

}
.botao-padrao button:hover{
    background-color: rgb(227, 227, 227);

}

/*style para textos escondidos*/
.text-none-style{
    background-color: rgb(220, 220, 220);
    padding: 1rem 2rem;
    margin: 5px 0px;
    width: 70%;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 1px 1px 10px rgb(72, 72, 72);

}
.text-none-style p{
    padding: 2px 0px;

}