/*Formatação global*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color: rgb(236, 236, 236);    
    
}

/*Formatação para o menu global*/
.menu{
    width: 100%;
    background-color: #a5d6a7;
    box-shadow: 0px 5px 5px rgb(133, 133, 133);

}
.navbar-collapse{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;

}
.menu .navbar-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}
.menu .nav-item{
    padding: 0px 5px;
    margin: 1px 5px;

}
.menu .navbar-nav a{
    color: black;
    font-weight: 500;

}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}

/*Formatação padão para os botões globais*/
.fundo-botao{
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.botao-padrao{
    text-decoration: none;
    margin: 10px 2px;
    width: 90%;
    text-align: center;
    
}
.botao-padrao button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem .2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    background-color: #80cc80;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(150, 150, 150);
    width: 100%;
    cursor: pointer;
    
}
.botao-padrao button:hover{
    background-color: #80cc80d4; 

}

/*Formatação para os textos escondidos*/
.text-none-style, .text-none-tec-proped{
    background-color: white;
    padding: 1.5rem 1rem;
    margin: 5px 0px;
    width: 85%;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1.1rem;
    box-shadow: 1px 1px 10px rgb(72, 72, 72);

}
.text-none-style p,
.text-none-tec-proped p{
    padding: 2px 0px;

}
.text-none-style h4{
    padding: 10px 0px;
    font-weight: 600;
    font-size: 1.1rem;

}
.text-none-style .ajuste-text p,
.text-none-style .ajuste-text h5{
    text-align: left;

}
.text-none-style .ajuste-text
.ajuste-text-destaque{
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0px 0px 7px rgb(102, 102, 102);

}
/*Formatação para inputs globais*/
.form-style{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-style input{
    width: 60%;
    height: 50px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
    background-color: rgba(219, 219, 219, 0.5);

}
.form-style button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 50%;
    border: 1px solid rgb(150, 150, 150);
    background-color: #80cc80;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);

}
.form-style button:hover{
    background-color: #80cc80d4;

}

/*Formatação de botões internos*/
.text-none-style .flex-ajuste{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.text-none-style-interno{
    padding: 5px 5px;
    margin: 5px 5px;
    width: 85%;
    color: black;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 1rem;
    box-shadow: 1px 1px 10px rgb(72, 72, 72);
    
}
.text-none-style-interno div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.botao-padrao-interno{
    margin: 7px 0px;
    width: 90%;

}
.botao-padrao-interno button{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #80cc80;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(150, 150, 150);

}
.form-style-interno{
    display: flex;
    flex-direction: column;
    width: 100%;

}
.form-style-interno div{
    display: block;

}
.form-style-interno input{
    width: 60%;
    height: 50px;
    border: none;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(150, 150, 150);
    box-shadow: 0px 0px 5px rgb(150, 150, 150);
    background-color: rgba(219, 219, 219, 0.5);

}
.form-style-interno button{
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px 0px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 600;
    color: black;
    width: 50%;
    border: 1px solid rgb(150, 150, 150);
    background-color: #80cc80;
    box-shadow: 0px 0px 5px rgb(150, 150, 150);

}
.form-style-interno button:hover{
    background-color: #80cc80d4;

}

/*Formatação das paginas só com texto*/
.text-style-pure{
    padding: 5rem 3rem;

}
.text-style-pure p{
    text-align: justify;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;

}